.App {
  text-align: center;
}

/* search bar styling */

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
  color: rgba(253, 1, 119, 0.945);
  margin: 2rem 1rem 1rem 1rem;
}

.search-bar {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-style: italic;
  color: rgba(253, 1, 119, 0.945);
}

#sb-input {
  box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.5);
  border: 1px solid transparent;    
  padding: 0.5rem;
}

.sb-description {
  margin: 1rem;
}

/* display item styling */

.displayItem {
  display: flex;
  justify-content: flex-start;
  margin: 3rem;
}

.drink-text {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  color: rgba(253, 1, 119, 0.945);
  padding: 1rem;
  width: 90%;
  height:90%;
}

img {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
  padding: 1rem;
  box-shadow: -2px 2px 4px 1px rgba(0,0,0,0.6);
 }

 #drinkName{
   font-weight: bolder;
 }

 #drinkType {
  font-style: italic;
  margin-top: 0.5rem;
 }

 #drinkGlass {
   font-size: medium;
   margin-top: 0.5rem;
 }



